
{{> header}}

  <h3>{{workout.name}}</h3>

  <ul>
    <li>
      <p>
          Location : <b>{{workout.location.name}}</b> &nbsp;
          ( Shower : {{#if workout.location.facilities.shower}} yes {{else}} no {{/if}}
          | Dressroom : {{#if workout.location.facilities.shower}} yes {{else}} no {{/if}} )
      </p>
    </li>
    <li>
      <p>Duration : <b>{{workout.duration}}</b> min</p>
    </li>
    <li>
      <p>Cost : Individual <b>{{workout.cost.individual}}</b> 원 | Group <b>{{workout.cost.group}}</b> 원</p>
    </li>
    <li>
      <p>Date : <b>{{workout.date}}</b> </p>
    </li>
    <li>
        <p>
            Attendants
            {{#each workout.attendants}}
               <br /> - {{this.attendantRef.name.first}}
            {{/each}}
         </p>
    </li>
    <li>
        <p>
            Guests
            {{#each workout.guests}}
               <br /> - {{#if this.name}} <b>{{this.name}}</b>  {{else}} Unknown guest {{/if}}
               : invited by {{this.invitedByRef}}
            {{/each}}
         </p>
    </li>
    <li>
      <p>Miscellaneous
          <br /> - Korean : {{workout.miscellaneous.kr}}
          <br /> - English : {{workout.miscellaneous.en}} </p>
    </li>
  </ul>

  <p>
      <button id="remove"> Remove Workout </button>
  </p>

{{> footer}}
<script src="js/libs/jquery-3.3.1.min.js"></script>
<script src="js/index.js"></script>
